<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center p-4">Upload Image</h1>
    <div class="container p-4">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" class="btn btn-secondary">
            <button class="btn btn-primary">
                    Upload
                </button>
        </form>

</body>

</html>